.bg-video {
  height: 75vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-video video {
  height: 75vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}

.effect {
  height: 75vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.444);
}

.video-text {
  color: rgb(89, 200, 219);
  z-index: 2;
}
